.post {
    width: 1200px;
    padding: 15px;
    border: #A4A4A4 solid 1px; 
    margin: 50px auto; 
    align-content: center;
    background: white; 
    border-radius: 5px;
}

.post > h2 {
    color: #2E2E2E;
    font-size: 1.2em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: #A4A4A4 solid 2px;
}

.post > p {
    color: #2E2E2E;
}

.post > div {
    color: #2E2E2E;
}