.post {
    padding: 10px 5px;
}

.comment-title {
    padding: 15px;
    margin-bottom: 15px;
}

.comment {
    background: #FFFFFF;
    border: dashed 1px #6E6E6E;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.email {
    font-size: 1em;
    font-weight: 550;
    padding: 15px 0px;
    border-bottom: solid 1px #6E6E6E;
}

.name {
    margin: 10px 0px;
}