.postings {
    margin-bottom: 40px;
}

.delete {
    width: 40px;
    height: 40px;
    float: right;
}

.delete:hover {
    cursor: pointer;
}

.title {
    color: black;
    font-size: 1.6em;
    font-weight: 700;
    text-align: left;
    padding: 10px 0px;
    margin: 0;
}

.body {
    padding-top: 10px;
    padding-bottom: 30px;
}