#main {
    margin: auto;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#subMenu {
    float: right;
    width: 40%;

    background-color: #F2F2F2;
    color: #424242;
    border: solid 1px #E6E6E6;
    border-radius: 3px;

    padding: 15px;
}

h2 {
    margin: 30px 0px;
}

.search, .searchStart, .createPosting {
    width: 90%;
    margin: auto;
    padding: 5px;
    font-size: 1em;
}

.searchStart, .createPosting {
    padding: 15px;
    margin-left: 1%;
    margin-bottom: 40px;
    font-weight: 800;
}

.searchStart {
    margin-top: 5px;
    border: none;
    background-color: #04B45F;
    border-radius: 3px;
    color: #F2F2F2;
}

.searchStart:hover {
    background-color: #088A4B;
    cursor: pointer;
}

.createPosting {
    margin-bottom: 60px;
    border: none;
    background-color: #045FB4;
    border-radius: 3px;
    color: #F2F2F2;
}

.createPosting:hover {
    background-color: #084B8A;
    cursor: pointer;
}